body    {
    margin:0px;
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
}

.containerHeader    {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: teal;
    
}

.containerMain1   {
    display: flex;
    padding: 30px;
}

.containerMain2   {
    display: flex;
    padding: 30px 30px 0px 30px;
}

.containerHobbies1    {
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-flow: row wrap;
    gap: 50px;
}

.itemHobbies img   {
    height: 200px;
}

.containerHobbies2  {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}

.itemHobbies2   {
    width: 200px;
    background-color: yellowgreen;
    text-align: center;
    color: white;
}

footer  {
    margin-top: 50px;
    height: 100px;
    background-color: black;
}