body    {
    margin:0px;
}


.containerHeader    {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: red;
    
}

.containerMain   {
    display: flex;
    height: 500px;
    padding: 30px;
}

.itemHeader2    {

}